<div>
  <div *ngIf="machineAddress">
    <h1>Add container to machine {{machineAddress}}</h1>
    <div class="form-group">
      <label>Id</label>
      <input [(ngModel)]="container.id" placeholder="id">
    </div>

    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="container.name" placeholder="name">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="container.description" placeholder="description">
    </div>

    <div id="save" class="form-group-save" (click)="saveContainer()">Save</div>
  </div>
</div>
