<div>
  <div *ngIf="machineAddress">
    <h1>Add container to machine {{machineAddress}}</h1>

    <div>
      <div class="form-group">
        <label class="control-label">Id</label>
        <input class="form-control" [(ngModel)]="container.id" placeholder="id">
      </div>

      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="container.name" placeholder="name">
      </div>

      <div class="form-group">
        <label class="control-label">Description</label>
        <input class="form-control" [(ngModel)]="container.description" placeholder="description">
      </div>

      <button class="btn" (click)="saveContainer()">Save</button>
    </div>
  </div>
</div>
