<div>
  <h1>Create detection rule</h1>

  <div class="light-section">
    <h3>Add exec detection rule</h3>

    <div class="form-group">
      <div>
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="execDetectionRule.name" placeholder="name">
      </div>

      <div>
        <label class="control-label">Description</label>
        <input class="form-control" [(ngModel)]="execDetectionRule.description" placeholder="description">
      </div>

      <div>
        <label class="control-label">Keyword to detect in the command</label>
        <input class="form-control" [(ngModel)]="execDetectionRule.properties['exec_name']" placeholder="keyword">
      </div>

      <button class="btn" (click)="saveExecDetectionRule()">Save</button>
    </div>
  </div>
</div>
