<div>
  <div class="operation-container">
    <h1 class="operation-header">All machines</h1>
    <div class="operation-button" routerLink="/{{addMachineRoute}}">New</div>
    <div style="clear: both"></div>
  </div>
  <ul class="horizontal-list">
    <li *ngFor="let machineId of machineIds" id="machine">
      <i id="delete" (click)="deleteMachine(machineId.address)" class="delete-button material-icons">delete_forever</i>
      <app-id
        routerLink="/{{machinesRoute}}/{{machineId.address}}"
        [id]="machineId.address"
        [name]="machineId.name">
      </app-id>
    </li>
  </ul>
</div>
