<div>
  <div class="operation-container">
    <h1 class="operation-header">All machines</h1>
    <button class="operation-button btn" routerLink="/{{addMachineRoute}}">New</button>
    <div style="clear: both"></div>
  </div>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Details & edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let machineId of machineIds">
      <td>{{machineId.name}}</td>
      <td>{{machineId.address}}</td>
      <td>
        <i class="material-icons" routerLink="/{{machinesRoute}}/{{machineId.address}}">more_horiz</i>
      </td>

      <td>
        <i class="material-icons" (click)="deleteMachine(machineId.address)">delete_forever</i>
      </td>
    </tr>
  </table>

</div>
