<div>
  <h1>Monitoring configuration</h1>

  <div class="operation-container">
    <h3 class="operation-header">Current monitoring state</h3>
    <button class="operation-button btn" (click)="forceUpdate()">Force update</button>
    <button class="operation-button btn" (click)="stopAllMonitoring()">Stop</button>
    <div style="clear: both"></div>
  </div>

  <table class="table" id="state" *ngIf="states">
    <tr>
      <th>Machine name</th>
      <th>Container name</th>
      <th>Rule name</th>
      <th>Modules count</th>
    </tr>
    <tr *ngFor="let state of states">
      <td>{{state.machine}}</td>
      <td>{{state.container}}</td>
      <td>{{state.rule}}</td>
      <td>{{state.modules}}</td>
    </tr>
  </table>
</div>
