.operation-container {
  margin-top: 2rem;
}

.control-label {
  margin-top: 5px;
  float: left;
}

.material-icons {
  font-size: 1.5rem;
  padding: 5px;
}

.material-icons:hover {
  color: #747474 !important;
}
