<div>
  <h1>Monitoring configuration</h1>

  <div class="operation-container">
    <h3 class="operation-header">Current monitoring state</h3>
    <button class="operation-button btn" (click)="forceUpdate()">Force update</button>
    <button class="operation-button btn" (click)="stopAllMonitoring()">Stop</button>
    <div style="clear: both"></div>
  </div>

  <div *ngIf="states">
    <div class="light-section">
      <button *ngIf="filtersHidden == true" class="btn" (click)="showFilters()">Filter</button>
      <button *ngIf="filtersHidden == false" class="btn" (click)="hideFilters()">Hide</button>

      <div *ngIf="filtersHidden == false">
        <div class="form-group">
          <label class="control-label">Machine name</label>
          <input class="form-control" [(ngModel)]="machineFilter">
        </div>
        <div class="form-group">
          <label class="control-label">Container name</label>
          <input class="form-control" [(ngModel)]="containerFilter">
        </div>
        <div class="form-group">
          <label class="control-label">Rule name</label>
          <input class="form-control" [(ngModel)]="ruleFilter">
        </div>
        <div class="form-group">
          <label class="control-label">Modules count</label>
          <input class="form-control" [(ngModel)]="modulesFilter" type="number">
        </div>
      </div>

      <table class="table">
        <tr>
          <th>Type</th>
          <th>Machine name</th>
          <th>Container name</th>
          <th>Rule name</th>
          <th>Active modules</th>
        </tr>
        <tr *ngFor="let rule of states | filter : machineFilter : containerFilter : ruleFilter : modulesFilter">
          <td>{{rule.type}}</td>
          <td>{{rule.machine.name}}</td>
          <td>{{rule.container.name}}</td>
          <td>{{rule.rule.name}}</td>
          <td>{{rule.modules.length}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="dark-section">
    <h3>Online interaction modules</h3>
    <ul class="horizontal-list">
      <li class="list-group list-group-horizontal list-group-item" *ngFor="let module of interactionModules">
        <div>
          <i style="float: left" class="material-icons">file_download</i>
          <label style="float: left">{{module}}</label>
          <div style="clear: both"></div>
        </div>
      </li>
    </ul>
  </div>

  <div class="light-section">
    <h3>Online detection modules</h3>
    <ul class="horizontal-list">
      <li class="list-group list-group-horizontal list-group-item" *ngFor="let module of detectionModules">
        <div>
          <i style="float: left" class="material-icons">track_changes</i>
          <label style="float: left">{{module}}</label>
          <div style="clear: both"></div>
        </div>
      </li>
    </ul>
  </div>

  <div class="dark-section">
    <h3>Online reaction modules</h3>
    <ul class="horizontal-list">
      <li class="list-group list-group-horizontal list-group-item" *ngFor="let module of reactionModules">
        <div>
          <i style="float: left" class="material-icons">pan_tool</i>
          <label style="float: left">{{module}}</label>
          <div style="clear: both"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
