<div *ngIf="rule">
  <div id="ruleConf">
    <h1>{{CapitalRuleType}} rule configuration</h1>
    <div class="form-group">

      <div>
        <label class="control-label">Id</label>
        <input class="form-control" [(ngModel)]="rule.id" placeholder="id" disabled>
      </div>

      <div>
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="rule.name" placeholder="name">
      </div>

      <div>
        <label class="control-label">Type</label>
        <input class="form-control" [(ngModel)]="rule.type" placeholder="type" disabled>
      </div>

      <div>
        <label class="control-label">Description</label>
        <input class="form-control" [(ngModel)]="rule.description" placeholder="description">
      </div>

      <div class="light-section">
        <h2 id="properties">Properties</h2>

        <table class="table">
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          <tr *ngFor="let propertyName of propertyNames">
            <td>{{propertyName}}</td>
            <td>
              <input
                [(ngModel)]="rule.properties[propertyName]"
                placeholder="value"
                class="table-data-input">
            </td>
          </tr>
        </table>
      </div>

      <button style="float: left" class="btn" (click)="updateRule()">Update</button>
      <button style="float: left" class="btn" (click)="resetRule()">Reset</button>
      <div style="clear: both"></div>
    </div>
  </div>


</div>
