<div>
  <h1>Create interaction rule</h1>

  <div class="light-section form-group">
    <h3>Add exec interaction rule</h3>

    <div>
      <label class="control-label">Name</label>
      <input class="form-control" [(ngModel)]="execInteractionRule.name" placeholder="name">
    </div>

    <div>
      <label class="control-label">Description</label>
      <input class="form-control" [(ngModel)]="execInteractionRule.description" placeholder="description">
    </div>

    <button id="save" class="btn" (click)="saveExecInteractionRule()">Save</button>
  </div>
</div>
