.menu-item {
  width: 20%;
  height: 60px;
  float: left;
  overflow: visible;
}

.menu-text {
  height: inherit;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  margin: auto;
  display: block;
}

#title {
  margin: auto;
  text-align: center;
}

#home {
  background: #64377a;
}

#machines {
  background: #af2a33;
}

#rules {
  background: #006a8d;
}

#monitor {
  background: #188d00;
}

#events {
  background: #8d3a16;
}

#title {
  background: #807f83;
}

#navigation {
  background: lightgray;
  position: sticky;
  top: 0;
  z-index: 999;
}

#content {
  padding: 10px;
  min-height: 800px;
}

#footer {
  min-height: 50px;
  background: #676667;
}

.footer-text {
  text-align: center;
  height: inherit;
  line-height: 50px;
  font-size: 25px;
  display: block;
}

.material-icons {
  font-size: 2.4em;  /* Preferred icon size */
}
