h1 {
  text-align: center;
}

#delete {
  height: inherit;
  background: black;
  line-height: 1.1em;
  display: inline-flex;
  color: var(--text-color-0);

}

#header {
  float: left;
  text-align: center;
  display: block;
}

#addMachine {
  float: left;
  margin-left: auto;
  position: absolute;
  right: 10px;
  background: var(--color-2);
  color: var(--text-color-2);
  padding: 20px;
}

#machine {
  margin: 5px;
}

.material-icons {
  font-size: 2.4em;  /* Preferred icon size */
  color: red;

}
