<div>
  <div>
    <div id="header">
      <h1>All machines</h1>
    </div>
    <div id="addMachine" routerLink="/{{addMachineRoute}}">New</div>
    <div style="clear: both"></div>
  </div>
  <ul class="horizontal-list">
    <li *ngFor="let machineId of machineIds" id="machine">
      <i id="delete" (click)="deleteMachine(machineId.address)" class="material-icons">close</i>
      <app-id
        routerLink="/{{machinesRoute}}/{{machineId.address}}"
        [id]="machineId.address"
        [name]="machineId.name">
      </app-id>
    </li>
  </ul>
</div>
