.monitoring-active {
  display: inline-block;
  font-size: medium;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: green;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.monitoring-not-active {
  display: inline-block;
  font-size: medium;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: red;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
