<div class="container">
  <h1>Add new machine</h1>
  <form>
    <div class="form-group">
      <label class="control-label" for="address">Address</label>
      <input class="form-control" #address type="text" id="address" required>
    </div>

    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input class="form-control" #name type="text" id="name" required>
    </div>

    <div class="form-group">
      <label class="control-label" for="description">Description</label>
      <input class="form-control" #description type="text" id="description">
    </div>

    <button class="btn" (click)="saveMachine(address.value, name.value, description.value)">Save</button>

  </form>
</div>
