:root {
  --color-0: #80642c;
  --color-1: #874f3a;
  --color-2: #c09f80;
  --color-3: #d7cec7;
  --text-color-0: #ffffff;
  --text-color-1: black;
  --text-color-2: black;
  --text-color-3: black;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

* {
  font-family: Cambria, Georgia, monospace;
  font-size: 100%;
  margin: 0;
}

.horizontal-list ul {
  list-style: none;
}

.horizontal-list li {
  display: inline-flex;
  margin: 10px;
}

.form-group {
  margin: 20px;
}

.form-group * {
  display: block;
  margin-left: 0;
}

.form-group input, select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background: var(--color-2);
  color: var(--text-color-2);
}

.form-group-save {
  width: 60px;
  background: var(--color-1);
  color: var(--text-color-1);
  display: block;
  padding: 10px 20px 10px 20px;
  margin: 20px 20px 20px 0;
  text-align: center;
}

.form-group-save:hover {
  background: forestgreen !important;
  cursor: pointer !important;
}

.delete-button {
  height: inherit;
  background: black;
  line-height: 1.1em;
  display: inline-flex;
  color: var(--color-2);
}

.material-icons {
  font-size: 2.4em; /* Preferred icon size */
}

.horizontal-ruler {
  width: 100%;
  height: 5px;
  background: var(--color-1);
  margin-top: 30px;
  margin-bottom: 30px
}

.header-with-operations {
  float: left;
  text-align: center;
  display: block;
  height: inherit;
}

.operation-container {
  margin-bottom: 40px;
}

.operation-header {
  float: left;
  text-align: center;
  display: block;
}

.operation-button {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  background: var(--color-2);
  color: var(--text-color-2);
  padding: 20px;
  border: solid thin black;
}

.operation-button:hover {
  background: forestgreen !important;
  cursor: pointer !important;
}

.swim-lane-3-container {
  padding: 0;
}

.radio-icon {
  height: 30px;
}

.rule-table {
  border: solid thin var(--color-0);
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.rule-table th {
  color: black;
  background: var(--color-2);
}

.rule-table table, th, td {
  border: thin black solid;
}

.rule-table th, td {
  padding: 5px 10px;
  text-align: center;
}

.rule-table i, label {
  margin: auto;
}

.assignment-active-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.assignment-active {
  display: flex;
  width: 100%;
  height: 100%;
}

.table-data-input {
  background: inherit;
  width: 100%;
  height: 100%;
  border: solid thin var(--color-0);
  padding: 5px;
}

.material-icons:hover {
  color: maroon !important;
  cursor: pointer !important;
}
