@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 150%;
}

* {
  font-family: Cambria, Georgia, monospace;
  font-size: 100%;
  margin: 0;
}

.horizontal-list ul {
  list-style: none;
}

.horizontal-list li {
  display: inline-flex;
  margin: 10px;
}

.header-with-operations {
  float: left;
  text-align: center;
  display: block;
  height: inherit;
}

.operation-container {
  margin-bottom: 40px;
}

.operation-header {
  float: left;
  text-align: center;
  display: block;
}

.operation-button {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  background: silver;
}

.btn:hover {
  background: forestgreen !important;
  cursor: pointer !important;
}

.swim-lane-3-container {
  padding: 0;
}

.radio-icon {
  height: 30px;
}

.assignment-active-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.assignment-active {
  display: flex;
  width: 100%;
  height: 100%;
}

.table-data-input {
  background: inherit;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.material-icons:hover {
  color: maroon !important;
  cursor: pointer !important;
}

.material-icons {
  color: black;
  font-size: 2rem;
}

.table th {
  border-top: solid 1px #b4c0ff;
}

.table td, th {
  border-bottom: solid 1px #b4c0ff;
}

.btn {
  margin: 10px;
}

.control-label {
  margin-top: 2rem;
}

.dark-section, .light-section {
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.dark-section {
  background: #dfebe8;
}

.light-section {
  background: #eaf6d1;
}
