#id {
  background: var(--color-1);
  color: var(--text-color-1);
  display: inline;
  padding: 10px;
}

#name {
  background: var(--color-3);
  color: var(--text-color-3);
  display: inline;
  padding: 10px;
}

#container {
  border: var(--color-0) solid 3px;
  display: inline-flex;
}
