#id {
  background: var(--color-1);
  color: var(--text-color-1);
  display: inline;
  padding: 10px;
}

#name {
  background: var(--color-2);
  color: var(--text-color-2);
  display: inline;
  padding: 10px;
}

#container {
  border: black solid medium;
  display: inline-flex;
}

#container:hover {
  border-color: forestgreen !important;
  cursor: pointer;
}
