<div *ngIf="machine">
  <h1>Machine {{machine.address}} configuration</h1>
  <div class="form-group">
    <div>
      <label class="control-label">Address</label>
      <input class="form-control" [(ngModel)]="machine.address" disabled>
    </div>
    <div>
      <label class="control-label">Name</label>
      <input class="form-control" [(ngModel)]="machine.name" placeholder="name">
    </div>

    <div>
      <label class="control-label" for="description">Description</label>
      <input class="form-control" id="description" [(ngModel)]="machine.description" placeholder="description">
    </div>

    <button class="btn" (click)="updateMachine()">Update</button>
    <button class="btn" (click)="resetMachine()">Reset</button>
  </div>

  <div class="light-section">
    <div class="operation-container">
      <h2 class="operation-header">Containers of machine {{machine.address}}</h2>
      <button class="operation-button btn" routerLink="/{{addContainerRoute}}">New</button>
      <div style="clear: both"></div>
    </div>
    <table class="table">
      <tr>
        <td>Name</td>
        <td>ID</td>
        <td>Details & edit</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor="let container of containers">
        <td>{{container.name}}</td>
        <td>{{container.id}}</td>
        <td>
          <i class="material-icons" routerLink="/{{containersRoute}}/{{container.id}}">more_horiz</i>
        </td>
        <td>
          <i class="material-icons" (click)="deleteContainer(machine.address, container.id)">delete_forever</i>
        </td>
      </tr>
    </table>
  </div>
</div>
