<div *ngIf="machine" class="container">
  <h1>Machine {{machine.address}} configuration</h1>
  <div>
    <div class="form-group">
      <label>Address</label>
      <input [(ngModel)]="machine.address" placeholder="address" disabled>
    </div>

    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="machine.name" placeholder="name">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="machine.description" placeholder="description">
    </div>

    <div id="update" class="form-group-save" (click)="updateMachine()">Update</div>
    <div id="reset" class="form-group-save" (click)="resetMachine()">Reset</div>
  </div>

  <hr class="horizontal-ruler">

  <div class="operation-container">
    <h2 class="operation-header">Containers of machine {{machine.address}}</h2>
    <div class="operation-button" routerLink="/{{addContainerRoute}}">New</div>
    <div style="clear: both"></div>
  </div>
  <ul id="containers" *ngIf="containers" class="horizontal-list">
    <li *ngFor="let container of containers" id="machine">
      <i id="delete" (click)="deleteContainer(machine.address, container.id)" class="delete-button material-icons">delete_forever</i>
      <app-id
        routerLink="/{{containersRoute}}/{{container.id}}"
        [id]="container.id"
        [name]="container.name">
      </app-id>
    </li>
  </ul>
</div>
