<div *ngIf="anyInputReactionRule">
  <h1>Create reaction rule</h1>

  <div class="light-section form-group">
    <h3>Add reaction rule for any input event</h3>

    <div>
      <label class="control-label">Name</label>
      <input class="form-control" [(ngModel)]="anyInputReactionRule.name" placeholder="name">
    </div>

    <div>
      <label class="control-label">Description</label>
      <input class="form-control" [(ngModel)]="anyInputReactionRule.description" placeholder="description">
    </div>

    <div>
      <label class="control-label" for="input">Input event type</label>
      <select class="form-control" id="input" [(ngModel)]="anyInputReactionRule.input" required>
        <option *ngFor="let inputType of inputTypes" [value]="inputType">{{inputType}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="reaction">Reaction type</label>
      <select class="form-control" id="reaction" [(ngModel)]="anyInputReactionRule.output" required>
        <option *ngFor="let reactionType of reactionTypes" [value]="reactionType">{{reactionType}}</option>
      </select>
    </div>

    <button class="btn" (click)="saveAnyInputReactionRule()">Save</button>
  </div>
</div>
