<div *ngIf="anyInputReactionRule">
  <h1>Create reaction rule</h1>

  <hr class="horizontal-ruler">

  <h3>Add reaction rule for any event of input type</h3>

  <div class="form-group">
    <label>Name</label>
    <input [(ngModel)]="anyInputReactionRule.name" placeholder="name">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input [(ngModel)]="anyInputReactionRule.description" placeholder="description">
  </div>

  <div class="form-group">
    <label for="input">Input event type</label>
    <select id="input" [(ngModel)]="anyInputReactionRule.input" required>
      <option *ngFor="let inputType of inputTypes" [value]="inputType">{{inputType}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="reaction">Reaction type</label>
    <select id="reaction" [(ngModel)]="anyInputReactionRule.output" required>
      <option *ngFor="let reactionType of reactionTypes" [value]="reactionType">{{reactionType}}</option>
    </select>
  </div>

  <div id="save" class="form-group-save" (click)="saveAnyInputReactionRule()">Save</div>
</div>
